/* styles.css */

/* 重置默认样式 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* 居中容器水平布局 */
.container {
    display: flex;
    flex-direction: column;
    height: 100%; /* 使用100%的高度来铺满整个视口 */
}

.header {
    background-color: #2e75b6; /* 深蓝色头部 */
    flex: 11; /* 占据总高度的11% */
    width: 100%;
}

.content {
    background-color: #98d4d4; /* 淡蓝色内容区域 */
    flex: 41; /* 占据总高度的41% */
    width: 100%;
}

.footer {
    background-color: #2e75b6; /* 深蓝色底部 */
    flex: 7; /* 占据总高度的7% */
    width: 100%;
}

